@tailwind base;
@tailwind components;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

:root {
  --header-height: 80px;
  --purple: #B500F5;
  --pink: #FF19BF;
  --pink-glow: hsla(317, 100%, 55%, 0.3);
  --btn-text-color: #fff;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

a {
  @apply transition duration-300;
}

/* .from-purple.to-pink,
.btn {
  filter: hue-rotate(var(--hue));
} */

/* We use this colour variable to change the text colour of the elements with a full gradient background from white (which suits the default pink/purple) to navy (which suits the other colour options from the ColourChanger) */
.launch-project,
.btn:not(.btn--outline),
.pill {
  color: var(--btn-text-color);
}

.pink-outer-glow {
  text-shadow: var(--pink-glow) 0 4px 16px;
}

.pink-outer-box-glow {
  box-shadow: 0 6px 10px var(--pink-glow);
}

.gradient-text {
  @apply bg-gradient-to-br from-purple to-pink text-transparent bg-clip-text font-primary font-medium antialiased whitespace-nowrap transition duration-500 hover:hue-rotate-20;
}

.btn {
  @apply px-5 py-[10px] rounded-full font-primary font-semibold antialiased bg-gradient-to-br from-purple to-pink transition duration-500 relative hover:hue-rotate-20;
}

.btn--outline {
  @apply duration-700 after:absolute after:left-[2px] after:right-[2px] after:top-[2px] after:bottom-[2px] after:bg-navy after:rounded-full hover:hue-rotate-20;
}

.btn--outline__text {
  @apply bg-gradient-to-br from-purple to-pink text-transparent bg-clip-text relative z-10;
}

.rocket-btn:hover svg {
  @apply translate-x-6 -translate-y-6;
}

.email-btn:hover + .tooltip,
.email-btn:focus + .tooltip,
.email-btn:focus-within + .tooltip,
.email-btn:active + .tooltip {
  @apply opacity-100 scale-100 origin-top translate-y-0;
}


/* COLOUR CHANGER RANGE SLIDER */
.colour-slider {
  @apply appearance-none bg-transparent cursor-pointer w-full;
}

input[type="range"]::-webkit-slider-runnable-track {
  @apply bg-gradient-to-br from-purple to-pink h-[2px] rounded-full;
}

input[type="range"]::-moz-range-track {
  @apply bg-gradient-to-br from-purple to-pink h-[2px] rounded-full;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none h-[18px] w-[18px] bg-navy hover:bg-navy-300 transition duration-300 rounded-full -mt-[7px];
  border: 2px solid #fff;
}

input[type="range"]::-moz-range-thumb {
  @apply appearance-none h-[18px] w-[18px] bg-navy hover:bg-navy-300 transition duration-300 rounded-full;
  border: 2px solid #fff;
}

.blog-teaser:has(.btn:hover) h2 a {
  @apply underline;
}


/* Blog Article */
.article {
  @apply text-base/relaxed text-gray-100 mx-auto;
}

.article:not(.article--normal-first-p) p:first-of-type {
  @apply text-white @2xl:text-lg font-semibold;
}

.article > * + * {
  @apply mt-6;
}

.article > figure,
.article > aside {
  @apply my-10;
}

.article > figure + h2 {
  @apply mt-16;
}

.article > h2 + *,
.article > h3 + *,
.article > h4 + * {
  @apply mt-4 @xl:mt-6;
}

.article > h4 + *,
.article > h5 + * {
  @apply mt-2;
}

.article h2,
.article h3,
.article h4,
.article h5 {
  @apply font-semibold font-primary text-white mt-10 @xl:mt-14;
}

.article h2 {
  @apply relative text-2xl @xl:text-3xl text-white border-t border-white/20 pt-8;
}

.article h3 {
  @apply text-xl @xl:text-2xl;
}

.article h2 + h3,
.article h2 + h4,
.article h3 + h4,
.article h3 + h5,
.article h4 + h5 {
  @apply mt-6;
}

.article ul {
  @apply pl-10;
}

.article li {
  @apply py-1 relative;
}

.article li:before {
  content: "";
  @apply mr-2 text-pink absolute top-3 -left-5 w-2 h-2 border rounded-full border-pink;
}

.article .align-left {
  @apply w-full @md:float-left @md:max-w-[50%] @md:pr-8 @md:pb-8 @md:pt-1;
}

.article .align-right {
  @apply w-full @md:float-right @md:max-w-[50%] @md:pl-8 @md:pb-8 @md:pt-1;
}

.article img {
  @apply rounded;
}

.article a {
  @apply underline text-pink font-semibold hover:hue-rotate-20;
}

.article :not(h2,h3,h4,h5,h6) code:not(pre code) {
  @apply bg-black bg-opacity-30 rounded p-1 text-sm text-gray-400;
}

.article blockquote:not(.testimonial) {
  @apply border-l-4 border-gray-500 text-gray-400 pl-5;
}

.article .highlight-text {
  @apply transition duration-700;
}

.article:hover .highlight-text {
  @apply text-white bg-navy-300;
}

#reactions__container {
  display: none !important;
}

.fadeInUp {
  animation: fadeInUp .5s forwards;
  visibility: visible !important;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hey-company {
  animation: fadeInDown .5s 1s both;
}

.project-list:has(img:hover) figure:not(:hover) {
  filter: grayscale(1) brightness(.7) blur(0.7px);
  opacity: .7;
}

@tailwind utilities;