@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

:root {
  --header-height: 80px;
}

.pink-outer-glow {
  text-shadow: rgba(255,25,191,.3) 0 4px 16px;
}

.btn {
  @apply px-5 py-[10px] rounded-full font-primary font-semibold antialiased bg-gradient-to-br from-purple to-pink transition duration-300 relative;
}

.btn--outline {
  @apply duration-700 after:absolute after:left-[2px] after:right-[2px] after:top-[2px] after:bottom-[2px] after:bg-navy after:rounded-full hover:hue-rotate-20;
}

.btn--outline__text {
  @apply bg-gradient-to-br from-purple to-pink text-transparent bg-clip-text relative z-10;
}

.email-btn:hover + .tooltip,
.email-btn:focus + .tooltip,
.email-btn:focus-within + .tooltip,
.email-btn:active + .tooltip {
  @apply opacity-100 scale-100 origin-top translate-y-0;
}